@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');
* {
    margin : 0;
    padding : 0;
    box-sizing : border-box;

}

html, 
body {
    line-height: 1.4;
    font-weight: 300;
    font-family: "Outfit", sans-serif;
    overflow-x: hidden;
    
   
}

.hero_section {
    background-color : rgba(33, 31, 33, 1);
    min-height: 100vh;
}

.cornerlogo {
    position: absolute;
    top : -30px;
    bottom: 0;
    left: -70px;
    width: 800px;  /* 🔧 adjust this to control size */
    opacity: 1;  /* optional: make it subtle */
    z-index: 4;
  }

  .gradient {
    position: absolute;
    top: -100px ;
    left :0px;
    width: 5000px;
    height: auto;
  }

  .logos {
    position:absolute;
    top : 700px;
    width: 500px;
    left: 800px;
  }
  

  .text_container {
    position: absolute;
    max-width: 1400px;
    padding-top: 200px;
    padding-left: 800px;
    flex-wrap: wrap;


  }

  input {
    font-family: "Outfit", sans-serif;
    display: flex;
    position: absolute;
    left: 500px; 
    top :1200px;
    padding: 10px 20px;
    color: aliceblue;
    background-color: rgba(22, 22, 22, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    width: 500px;
    height:54px;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor : pointer;
    z-index: 5;
    

  }

  .maintext {
    color: azure;
    font-size:70px;
    font-weight: 300px;
    line-height: 1.1;
  }

  .list {
    font-size: 25px;
    font-weight: 300;
    color: aliceblue;
    padding-top :20px ;
    padding-left: 20px;
    line-height: 40px;
  }

  ul li::marker {
    color: rgba(200, 245, 88, 1);

  }

  .search1 {
    position: absolute;
    top: 30px;
    right: 150px;
    width: 50px;
    height: auto;
  }

  .searchhh {
    position: absolute;
    top: 30px;
    right: 220px;
    width: 50px;
    height: auto;
  }

  .pattern {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 1000px;  /* 🔧 adjust this to control size */
    opacity: 0;  /* optional: make it subtle */
    z-index: 1;
  }
  .pattern2 {
    position: absolute;
    bottom: 10;
    right: 0;
    width: 1000px;  /* 🔧 adjust this to control size */
    opacity: 0;  /* optional: make it subtle */
    z-index: 1;
    transform : scaleY(-1);
  }
  

  .button {
    display: flex;
    position: absolute;
    padding: 10px 20px;
    color: aliceblue;
    background-color: rgba(22, 22, 22, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-radius: 30px;
    width: 150px;
    height:54px;
    align-items: center;
    text-align: center;
    justify-content: center;
    cursor : pointer;
    text-decoration: none;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 5;
    
  }

  .button:hover {
    background-color: white;
    color: black;
  }




  .buttoncontainer {
    position: absolute;
    right : 670px;
    bottom :300px;
   
  }

  .buttoncontainer2 {
    position: absolute;
    right : 495px;
    bottom :300px;
   
  }

  .buttoncontainer3 {
    position: absolute;
    right : 320px;
    bottom :300px;
   
  }

  .buttontext {
    font-family: "Lexend Deca", sans-serif;
    font-size: 15px;
    font-weight: 300;
  }

  .scout {
    background-color : rgba(33, 31, 33, 1);
    min-height: 200vh;
    


  }