<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <section class="scout">
        <img src = "{{ url_for('static', filename='images/gradient.png') }}" class="gradient" />
        <div class="searchbutton">
        <input type = "text" id="searchbox" placeholder="Type the player's name" >
      </div>
      
         
      </section>
    
</body>
</html>